{% extends 'base.html' %}
{% load crispy_forms_tags %}

<form method="post" class="uniForm">
    {{ my_formset|crispy }}
</form>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <Form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1>Form</h1>
                    {{ forms|crispy }}
                    {{ forms.media }}
                    <input class="btn btn-outline-primary" type="submit" value="Gönder">

                </Form>
            </div>
        </div>

    </div>
{% endblock %}